body{
    background:#000000;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

a{
    text-decoration:none;
}

.card{
    border:none;
    border-radius:12px;
}

.shadow-custom{
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}